<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <add key="AppName" value="Test" />

    <!-- Global paths that can be overridden on a per-destination basis-->
    <add key="SourcePath" value="C:\Transfer\Upload" />
    <add key="DestPath" value="C:\Transfer\Download" />
    <add key="DoArchive" value="false" />
    <add key="ArchivePath" value="C:\Transfer\Archive" />
    <add key="ArchiveDays" value="30" />

    <!-- Provides the key names for each destination, and the order to execute the transfers-->
    <add key="TransferDestinations" value="Smb2Download,Smb2Upload,SftpUpload,SftpDownload,FtpUpload,FtpDownload" />

    <add key="Smb2DownloadName" value="Download via Smb2" />
    <add key="Smb2DownloadTransferType" value="Download" />
    <add key="Smb2DownloadTransferMode" value="Smb2" />
    <add key="Smb2DownloadAuthMode" value="Password" />
    <add key="Smb2DownloadBufferSize" value="262144" />
    <add key="Smb2DownloadServer" value="192.168.1.181" />
    <add key="Smb2DownloadPort" value="445" />
    <add key="Smb2DownloadUsePassive" value="false" />
    <add key="Smb2DownloadRemotePath" value="Download" />
    <add key="Smb2DownloadDestPath" value="C:\Transfer\Download" />
    <add key="Smb2DownloadUserName" value="MATTPC\FtpTest" />
    <add key="Smb2DownloadPassword" value="Password1" />
    <add key="Smb2DownloadRetryCount" value="3" />
    <add key="Smb2DownloadRetryDelay" value="10" />

    <add key="Smb2UploadName" value="Upload via Smb2" />
    <add key="Smb2UploadTransferType" value="Upload" />
    <add key="Smb2UploadTransferMode" value="Smb2" />
    <add key="Smb2UploadAuthMode" value="Password" />
    <add key="Smb2UploadBufferSize" value="262144" />
    <add key="Smb2UploadServer" value="192.168.1.181" />
    <add key="Smb2UploadPort" value="445" />
    <add key="Smb2UploadUsePassive" value="false" />
    <add key="Smb2UploadRemotePath" value="Upload6" />
    <add key="Smb2UploadSourcePath" value="C:\Transfer\Upload3" />
    <add key="Smb2UploadUserName" value="MATTPC\FtpTest" />
    <add key="Smb2UploadPassword" value="Password1" />
    <add key="Smb2UploadRetryCount" value="3" />
    <add key="Smb2UploadRetryDelay" value="10" />

    <!-- Destination configurations-->
    <add key="FtpUploadName" value="Upload via FTP" />
    <add key="FtpUploadTransferType" value="Upload" />
    <add key="FtpUploadTransferMode" value="FTP" />
    <add key="FtpUploadAuthMode" value="Password" />
    <!-- Used with Certificate or Both authmodes-->
    <!--<add key="FtpUploadCertPath" value=""/>-->
    <add key="FtpUploadBufferSize" value="262144" />
    <add key="FtpUploadServer" value="192.168.1.181" />
    <add key="FtpUploadPort" value="21" />
    <!-- This will only affect FTP transfer modes -->
    <add key="FtpUploadUsePassive" value="false" />
    <add key="FtpUploadRemotePath" value="upload" />
    <!-- Per destination overrides for Source, Dest, and Archive Path-->
    <add key="FtpUploadSourcePath" value="C:\Transfer\Upload" />
    <!-- Used for download-->
    <!--<add key="FtpUploadDestPath" value="C:\Transfer\Download"/>-->
    <!-- Unused for LurgleTest. These work with the Files.ArchiveFiles method-->
    <!--<add key="DoArchive" value="False"/>
    <add key="ArchivePath" value="C:\Transfer\Archive"/>
    <add key="ArchiveDays" value="30"/>-->
    <add key="FtpUploadUserName" value="FtpTest" />
    <add key="FtpUploadPassword" value="Password1" />
    <add key="FtpUploadRetryCount" value="3" />
    <add key="FtpUploadRetryDelay" value="10" />
    <!-- Only useful for debugging-->
    <!--<add key="FtpUploadRetryTest" value="false" />
    <add key="FtpUploadRetryFailAll" value="false" />
    <add key="FtpUploadRetryFailConnect" value="false" />-->
    <!--Enable and configure proxy-->
    <!--<add key="FtpUploadUseProxy" value="false" />
    <add key="FtpUploadProxyType" value="Http" />
    <add key="FtpUploadProxyServer" value="" />
    <add key="FtpUploadProxyPort" value="8081" />
    <add key="FtpUploadProxyUser" value="" />
    <add key="FtpUploadProxyPassword" value="" />-->
    <!-- Unused for LurgleTest. These work with the Files.CompressFiles method -->
    <!--<add key="FtpUploadCompressType" value="gzip" />
    <add key="FtpUploadZipPrefix" value="" />-->
    <!-- Unused for LurgleTest. These allow for an alert to be defined on success/failure, which can be used in conjunction with Lurgle.Alerting-->
    <!--<add key="FtpUploadMailTo" value="bob@builder.com" />
    <add key="FtpUploadMailToError" value="bob@builder.com" />
    <add key="FtpUploadMailIfError" value="true" />
    <add key="FtpUploadMailIfSuccess" value="false" />-->
    <!-- Used with download. 0 means any age files, greater than 0 provides a limit to the age of files-->
    <!--<add key="FtpUploadDownloadDays" value="1" />-->

    <add key="FtpDownloadName" value="Download via FTP" />
    <add key="FtpDownloadTransferType" value="Download" />
    <add key="FtpDownloadTransferMode" value="FTP" />
    <add key="FtpDownloadAuthMode" value="Password" />
    <add key="FtpDownloadBufferSize" value="262144" />
    <add key="FtpDownloadServer" value="192.168.1.181" />
    <add key="FtpDownloadPort" value="21" />
    <add key="FtpDownloadUsePassive" value="false" />
    <add key="FtpDownloadRemotePath" value="Download" />
    <add key="FtpDownloadDestPath" value="C:\Transfer\FtpDownload" />
    <add key="FtpDownloadUserName" value="FtpTest" />
    <add key="FtpDownloadPassword" value="Password1" />
    <add key="FtpDownloadRetryCount" value="3" />
    <add key="FtpDownloadRetryDelay" value="10" />
    <add key="FtpDownloadDownloadDays" value="1000" />

    <add key="SftpUploadName" value="Upload via SFTP" />
    <add key="SftpUploadTransferType" value="Upload" />
    <add key="SftpUploadTransferMode" value="SFTP" />
    <add key="SftpUploadAuthMode" value="Password" />
    <add key="SftpUploadBufferSize" value="262144" />
    <add key="SftpUploadServer" value="192.168.1.181" />
    <add key="SftpUploadPort" value="22" />
    <add key="SftpUploadUsePassive" value="false" />
    <add key="SftpUploadRemotePath" value="upload" />
    <add key="SftpUploadSourcePath" value="C:\Transfer\Upload" />
    <add key="SftpUploadUserName" value="FtpTest" />
    <add key="SftpUploadPassword" value="Password1" />
    <add key="SftpUploadRetryCount" value="3" />
    <add key="SftpUploadRetryDelay" value="10" />

    <add key="SftpDownloadName" value="Download via SFTP" />
    <add key="SftpDownloadTransferType" value="Download" />
    <add key="SftpDownloadTransferMode" value="SFTP" />
    <add key="SftpDownloadAuthMode" value="Password" />
    <add key="SftpDownloadBufferSize" value="262144" />
    <add key="SftpDownloadServer" value="192.168.1.181" />
    <add key="SftpDownloadPort" value="22" />
    <add key="SftpDownloadUsePassive" value="false" />
    <add key="SftpDownloadRemotePath" value="Download" />
    <add key="SftpDownloadDestPath" value="C:\Transfer\SftpDownload" />
    <add key="SftpDownloadUserName" value="FtpTest" />
    <add key="SftpDownloadPassword" value="Password1" />
    <add key="SftpDownloadRetryCount" value="3" />
    <add key="SftpDownloadRetryDelay" value="10" />
  </appSettings>
</configuration>